

@media(max-width: 790px) {
  .burger p {
    display: none;
  }
  .header_wrapper nav a {
    display: none;
  }
  .search_ico {
    display: none;
  }
  .first_section_circles {
    display: none;
  }
  .mobile_btn {
    display: block;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile_btn a {
    text-decoration: none;
    color: #000;
    border: 3px solid #000;
    padding: .7rem 2rem;
    transition: .3s ease-in-out;
    text-transform: uppercase;
  }
  .mobile_btn a:hover {
    background-color: #000;
    color: #fff;
  }
  .main_info_text {
    width: 100%;
  }
  .main_info_text p {
    margin: 1.5rem 0 2rem;
  }
  .main_info_image {
    display: none;
  }


  .mobile_info_image {
    display: block;
    position: relative;
    width: 70%;
    margin: 0 auto 2rem;
    z-index: 20;
  }
  .back_photo {
    position: absolute;
    top: 1rem;
  }

  .burger {
    margin-right: 0;
  }

  
  .media_icons a {
    display: block !important;
  }

  .media_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.5rem;
  }


  .burger_info {
    width: 70%;
    padding: 2rem 0;
  }
  .burger_media {
    width: 30%;
  }
  .burger_text_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 3rem;
  }
  .burger_info_text ul li {
    line-height: 2;
    list-style: none;
  }
  .burger_info_text div {
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
  }
  .burger_info_text p {
    padding-left: 10px;
  }
  .burger_info_text div ul a {
    display: block;
  }



  .main_page_container main p {
    padding: .5rem 3rem;
  }
  #form {
    width: 100%;
    height: auto;
    margin: 4rem 0 3rem;
  }
  .bottom_line {
    width: 100%;
    height: 6rem;
  }
  .portfolio_btns {
    width: 100%;
    justify-content: space-between;
  }
  .filter_btn {
    padding: .5rem 1rem;
  }
  .portfolio_cards {
    margin: 2rem 0;
  }


  .cards_price_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card_price {
    width: 90%;
    margin-bottom: 2rem;
  }
  .card_price:last-child {
    margin-bottom: 0;
  }
}


@media (max-width: 1024px) {
  .price_screen {
    padding: 1.5rem 0;
  }
}