

@media(max-width: 790px) {
  .header_logo {
    width: 100px;
  }
  .header_logo svg {
    width: 100px;
  }
  .scroll_btn {
    display: none;
  }
  .burger p {
    display: none;
  }
  .header_wrapper nav a {
    display: none;
  }
  .search_ico {
    display: none;
  }
  .first_section_circles {
    right: 2rem;
    row-gap: 0.313rem;
  }

  .first_section_circles span {
    width: 0.938rem;
    height: 0.938rem;
    border: 5px solid #000;
  }


  .main_info_text {
    width: 100%;
  }
  .main_info_text p {
    margin: 1.5rem 0 2rem;
  }

  .main_info_image {
    display: none;
  }

  .mobile_info_image {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 450px;
    margin: 0 auto 2rem;
    z-index: 20;
  }

  .burger {
    margin-right: 0;
  }



  .burger_info {
    width: 100%;
    padding: 2rem 0;
  }
  .burger_text_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 3rem;
    overflow: hidden;
  }
  .burger_info_text {
    overflow-y: scroll;
  }
  .burger_info_text ul li {
    line-height: 2;
    list-style: none;
  }
  .burger_info_text div {
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
  }
  .burger_info_text p {
    padding-left: 10px;
  }
  .burger_info_text div ul a {
    display: block;
  }


  .main_page_container main p {
    padding: .5rem 3rem;
    border-radius: 0.320rem;
  }
  #form {
    width: 100%;
    height: auto;
    margin: 4rem 0 3rem;
    row-gap: 1rem;
  }
  #form .input {
    border: 3px solid #000;
  }
  .bottom_line {
    width: 100%;
    height: 6rem;
  }
  .portfolio_btns {
    width: 100%;
    justify-content: space-between;
  }
  .filter_btn {
    padding: .5rem 1rem;
  }

  .portfolio_card {
    width: calc(100% / 2 - .75rem);
  }
  .portfolio_wrapper  {
    padding-bottom: 2rem;
  }
  .moreBtn {
    margin: 0 auto;
  }


  .cards_price_wrapper {
    display: none;
  }


  /* mobile swiper slider */




  .mobile_slider {
    display: block; 
  }
  .swiper {
    padding-bottom: 3rem !important;
    width: 100%;
    height: 100%;
  }
  .swiper-pagination {
    bottom: 0;
  }
  .swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 5px solid #000;
    background-color: transparent;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background-color: #000;
  }

  .card_price_content h1 {
    margin: 0 0 2rem 0;
  }
  .card_price_content {
    margin-bottom: 6rem;
  }


  /* end mobile full page slider */

  .card_price {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 5;
  }
  .card_price:last-child {
    margin-bottom: 0;
  }
  .main_list li::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -.75rem;
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 50%;
  }
  .main_page_container main {
    row-gap: 1rem;
    height: 65vh;
  }
  .main_page_container main h1 {
    margin: 2rem 0 1.5rem;
  } 
  .main_page_container main span {
    margin-top: 2rem;
  }
  .first_section::after {
    content: '';
    right: -120px;
    bottom: -50%;
  }
  .burger_content_wrapper {
    position: relative;
  }
  .burger_media {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .burger_media_wrapper h2 {
    display: none;
  }
  .burger_media_wrapper {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .burger_media h1 {
    font-size: 20px;
  }
  .media_icons {
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }
    
  .media_icons a {
    display: flex !important;
    align-items: center;
  }
  .media_icons a:nth-child(3) {
    padding-right: 0 !important;
  }
  .media_icons a svg {
    width: 25px;
    height: 25px;
  }
  .burger_media {
    width: 100%;
    padding: 1.25rem 0;
  }
  .burger_info::before {
    width: 110%;
  }
  .burger_info_text p {
    color: #E1E1E1;
    padding: 0;
  }
  header {
    padding-top: 1.5rem;
  }
  .burger::after,
  .burger::before {
    content: '';
    height: 3px;
  }
  .burger span {
    height: 3px;
  }
  .price_text {
    text-align: center;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
  }

  .thank_you_modal_content {
    padding: 4.25rem 0;
  }

  .portfolio_btns {
    margin: 0px auto 3rem auto;
  }
  .show_more_cards {
    margin: 2.5rem 0;
  }
  .footer_links {
    display: flex;
    flex-direction: column;
  }
  footer::after {
    content: '';
    width: 95%;
  }
  .submitBtn {
    width: 100%;
  }
  .portfolio_title h1:last-child {
    margin: 1.875rem 0;
  }
  .error_name {
    position: absolute;
    line-height: 1;
    height: .9rem;
    width: 80%;
  }
  #form input._error {
    transition: .3s ease-in-out;
    border: 3px solid #D74A45;
  }
  .dropdown-content li {
    border: 3px solid #000;
  }
  .footer_links a {
    line-height: 2;
  }
  .thank_you_modal_content {
    width: 95%;
  }
}



@media (max-width: 1280px) {
  .price_screen {
    padding: 1.5rem 0;
  }
  .price_text {
    margin-top: 1rem;
  }
  .card_price_content ul li {
    line-height: 1.7;
  }
}