@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  scroll-behavior: smooth;
}



a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



.container {
  width: 90%;
  height: auto;
  margin: 0 auto;
}


/* header */

header {
  width: 100%;
  padding-top: 4.125rem;
}
.header_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_logo {
  font-size: 0;
}
.header_wrapper nav {
  display: flex;
  column-gap: 4.375rem;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  color: #000;
}
.header_wrapper nav p {
  font-style: normal;
  font-weight: 400;
}
.header_wrapper nav a {
  text-decoration: none;
  color: #000;
  border: 3px solid #000;
  padding: .7rem 2rem;
  transition: .3s ease-in-out;
}
.header_wrapper nav a:hover {
  background-color: #000;
  color: #fff;
}
.search_ico {
  font-size: 0;
}
.search_ico svg {
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
}
.burger {
  position: relative;
  width: 4.125rem;
  height: 1.375rem;
  cursor: pointer;
}
.burger::after,
.burger::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.burger::after {
  top: 50%;
  transform: translateY(-50%);
}
.burger::before {
  top: 0;
}
.burger span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 2px;
  background-color: #000;
}
.main_page_container {
  width: 100%;
}
.main_page_container main {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}
.main_page_container main p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: .5rem 4.375rem;
  background-color: #fff;
  border-radius: .25rem;
  font-size: clamp(16px, 2vw, 24px);
  color: #000;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  color: #000000;
}
.main_page_container main h1 {
  font-style: normal;
  font-weight: 600;
  font-size: clamp(70px, 10.8vw, 200px);
  color: #000000;
  margin: 1.875rem 0 3.375rem;
  line-height: 1.3;
}

.main_list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main_list li {
  font-style: normal;
  font-weight: 600;
  font-size: clamp(20px, 1.5vw, 32px);
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
}
.first_section {
  width: 100%;
  height: 100vh;
  position: relative;
}
.first_section::after {
  content: '';
  position: fixed;
  bottom: -50%;
  right: 0;
  width: 90%;
  height: 90%;
  background: url('../img/white_circle.png') no-repeat right bottom;
  background-size: contain;
  z-index: 0;
}
.first_section_circles {
  position: absolute;
  bottom: 2rem;
  right: 6rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1.3rem;
}
.first_section_circles span {
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 3px solid #000;
}
.first_section_circles span:first-child {
  background-color: #000;
}
.ticker {
  overflow: hidden;
  width: 150%;
  position: absolute;
  bottom: 0;
  left: -10%;
}
.ticker h1 {
  width: 100%;
  color: rgba(251, 251, 251, 0.4);
  font-size: clamp(100px, 34vw, 520px);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  line-height: .7;
}
.ticker div {
  width: 100%;
  animation: ticker_animation 10s linear infinite;
}
@keyframes ticker_animation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}







/* second slide */

.main_info_section_wrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_info_text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.main_info_text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(32px, 4.8vw, 70px);
  text-transform: uppercase;
  color: #000000;
}
.main_info_text p {
  font-style: normal;
  font-weight: 300;
  font-size: clamp(18px, 2.2vw, 32px);
  color: #000000;
  margin: 2.813rem 0 4.688rem;
}
.main_info_text a {
  position: relative;
  display: inline-block;
  left: 20%;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: clamp(18px, 1.6vw, 24px);
  text-transform: uppercase;
  color: #000000;
}
.main_info_text a::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -110%;
  width: 100%;
  height: 15px;
  background: url('../img/arrow.png') no-repeat;
  background-size: contain;
  z-index: 1;
}
.main_info_image {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




.ticker_section {
  position: absolute;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  left: 0;
}

.ticker_section div {
  width: 300%;
  display: flex;
  animation: ticker_animation_infinite 10s linear infinite;
}

.ticker_section h1 {
  width: 100%;
  color: rgba(251, 251, 251, 0.4);
  font-size: 230px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  line-height: .7;
  white-space: nowrap;
}

@keyframes ticker_animation_infinite {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.graphic {
  background: radial-gradient(67.71% 213.99% at 3.85% 73.89%, #FFE779 1.77%, #FFDB33 95.02%);
}
.web {
  background: conic-gradient(from 95.02deg at 3.85% 73.89%, #FFDB33 -17.91deg, #FFE779 6.36deg, #FFDB33 342.09deg, #FFE779 366.36deg);
}

.portfolio {
  background: conic-gradient(from 95.02deg at 3.85% 50%, #FFDB33 -17.91deg, #FFE779 6.36deg, #FFDB33 342.09deg, #FFE779 366.36deg);
}
.contact {
  background: conic-gradient(from 95.02deg at 5% 15%, #FFDB33 -17.91deg, #FFE779 6.36deg, #FFDB33 342.09deg, #FFE779 366.36deg);
  overflow-x: hidden;
}



.main_info_image_wrapper {
  position: relative;
}

.back_photo {
  position: absolute;
  width: 90%;
  left: 1rem;
  z-index: 1;
}
.web_photo {
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
}
.web_photo img {
  width: 100%;
  height: 100%;
}
.photo_wrapper {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 2;
}
.photo_wrapper img {
  width: 100%;
  height: 100%;
}

.portfolio_title {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 10;
}

.title_ticker {
  width: 100%;
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  overflow: hidden;
}
.title_ticker:last-child {
  top: 30%;
}
.title_ticker div {
  display: flex;
  width: 200%;
  animation: ticker_animation_infinite 10s linear infinite;
}

.title_ticker h1 {
  width: 100%;
  color: rgba(251, 251, 251, 0.4);
  font-size: clamp(130px, 20.8vw, 250px);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  line-height: .9;
  white-space: nowrap;
  z-index: -1;
}



.portfolio_title h1 {
  font-style: normal;
  font-weight: 600;
  font-size: clamp(70px, 8vw, 150px);
  color: #000000;
  margin: 1.875rem 0 3.375rem;
  line-height: 1.3;
}
.portfolio_title h1:last-child {
  font-size: clamp(70px, 11vw, 200px);
  z-index: 2;
}
.portfolio_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.portfolio_btns {
  width: 70%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
}
.filter_btn {
  border: none;
  background: transparent;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(18px, 1.6vw, 24px);
  color: #000000;
  cursor: pointer;
  padding: .625rem 2rem;
  transition: .3s ease-in-out;
}
.filter_btn_active {
  background-color: #000;
  color: #fff;
}
.portfolio_cards {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 5rem 0;
  column-gap: 2rem;
}



.card {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  visibility: visible;
  transition: .5s ease-in-out;
}
.card img {
  width: 100%;
  height: 100%;

}


.left_wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  width: 60%;
}
.left_wrapper > div {
  display: flex;
  justify-content: space-between;
  height: auto;
  gap: 2rem;
}
.right_wrapper{
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  width: 40%;
  row-gap: 2rem;
}


.hide {
  visibility: hidden;
  width: 0;
  height: 0;
  opacity: 0;
  transition: .3s;
}
.show {
  opacity: 1;
  visibility: visible;
  transition: .3s;
}

.contact_wrapper {
  width: 100%;
  height: auto;
  text-align: center;
}
.contact_title {
  position: relative;
}



#form {
  margin: 5.75rem auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
#form input {
  width: 100%;
  height: auto;
  border: 3px solid #000000;
  background-color: transparent;
  padding: 1rem;
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(14px, 1.25vw,18px);
  text-transform: uppercase;
  color: #000000;
  outline: 0;
  outline-offset: 0;
  transition: .3s ease-in-out;
}
#form input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: clamp(14px, 1.25vw,18px);
  text-transform: uppercase;
  color: #000000;
  transition: .3s ease-in-out;
}
#form input:focus::placeholder {
  transform: scale(0);
}

.dropdown_arrow {
  margin-left: 1.125rem;
  pointer-events: none;
  transition: .3s ease-in-out;
}
.dropdown_arrow_rotate {
  transform: rotate(180deg);
}
.dropdown_arrow img {
  width: 100%;
  height: 100%;
}


.dropdown_line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  border: 3px solid #000000;
  background-color: transparent;
  padding: 1rem 0;
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(14px, 1.25vw,18px);
  text-transform: uppercase;
  color: #000000;
  transition: .3s ease-in-out;
  cursor: pointer;
  text-align: center;
}

.dropdown_btn {
  pointer-events: none;
}


.dropdown_input_hidden {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.dropdown_item_disabled {
  pointer-events: none;
  background-color: hsla(0, 0%, 89%, 0.8);
}

.dropdown_list {
  margin: 0;
  padding: 0;
  text-align: left;
  display: none;
}

.dropdown_list_active {
  display: block;
}

.dropdown_list li {
  list-style: none;
  margin-top: 2rem;
  padding: .5rem 1rem;
  border: 2px solid #000;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.dropdown_list li:hover {
  background-color: #fff;
}



.submitBtn {
  border: 2px solid #000;
  width: 70%;
  margin: 0 auto;
  display: inline-block;
  background-color: #000;
  padding: 1rem 3.75rem;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(14px, 1.25vw,18px);
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.submitBtn:hover {
  color: #000;
  border: 2px solid #000;
  background-color: transparent;
}

.bottom_line {
  width: 100%;
  height: 12.5rem;
  background-color: #3D3D3D;
  position: relative;
}
.bottom_line::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 100%;
  background: url('../img/dgn.png') no-repeat bottom left;
  background-size: contain;
}