


.web_page_1 {
  background: #FD79FF;
}
.web_page_2 {
  background: radial-gradient(67.71% 213.99% at 3.85% 73.89%, #FD79FF 1.77%, #F3A6F4 95.02%);
}
.web_page_3 {
  background: radial-gradient(67.71% 213.99% at 3.85% 73.89%, #FD79FF 1.77%, #F3A6F4 95.02%);
}
.web_page_4 {
  background: #F3A6F4;
}
.web_page_5 {
  background: conic-gradient(from 95.02deg at 3.85% 73.89%, #F3A6F4 -48.75deg, #FD79FF 6.36deg, #F3A6F4 311.25deg, #FD79FF 366.36deg);
}
.web_page_6 {
  background: conic-gradient(from 95.02deg at 3.85% 73.89%, #F3A6F4 -48.75deg, #FD79FF 6.36deg, #F3A6F4 311.25deg, #FD79FF 366.36deg);
}




.burger_info_text div ul a li:hover {
  color: #FD79FF !important;
  background-color: transparent !important;
}

.media_icons svg:hover path {
  transition: .3s;
  fill: #FD79FF !important;
  color: #FD79FF !important;
  stroke: #FD79FF !important;
}



.web_page_1 .main_info_text h1 {
  font-size: clamp(28px, 4vw, 60px);
  width: 110%;
}


.web_page_1 .main_info_text a {
  left: 0;
  padding-left: 40%;
}

.web_page_1 .main_info_text a::before {
  content: '';
  left: 0;
}
.web_page_1 .main_info_text a:hover::before {
  content: '';
  position: absolute;
  left: 3%;
}


.text_correction .main_info_text h1 {
  font-size: clamp(28px, 3.5vw, 60px);
}

.text_correction .main_info_text p {
  margin: 2.2rem 0 0 0;
}
p.main_subtitle {
  font-size: clamp(16px, 1.5vw, 24px) !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400 !important;
}

.main_info_text p span {
  margin: 0 1.3rem;
}


.web_page_2 .main_info_section_wrapper {
  height: 70vh;
  display: flex;
  flex-direction: row-reverse;
}


.web_page_4 .card_price_modal_calendly {
  top: 300%;
}



@media(max-width: 790px) {
  .web_page_1 .main_info_text a::before {
    content: '';
    width: 40% !important;
    top: 60%;
  }
  .mobile_info_image {
    margin: 0 auto !important;
  }
  .text_correction .main_info_text {
    display: flex;
    justify-content: center;
    height: 80vh;
  }
}